<div id="module_1" class="module">
  <p>들어가기</p>
  <ul>
    <li id="goto-1" class='goto'>Intro</li>
    <li id="goto-2" class='goto'>고민이에요</li>
    <li id="goto-3" class='goto'>학습목표</li>
  </ul>
</div>
<div id="module_2" class="module">
  <p>학습하기</p>
  <ul>
    <li id="goto-4-1" data-time="" class="goto"></li>
    <li id="goto-4-2" data-time="" class="goto"></li>
    <li id="goto-4-3" data-time="" class="goto"></li>
  </ul>
</div>
<div id="module_3" class="module">
  <p>마무리하기</p>
  <ul>
    <li id="goto-5" class="goto">이러면 어떨까요?</li>
    <li id="goto-6" class="goto">평가하기</li>
    <li id="goto-7" class="goto">정리하기</li>
    <li id="goto-8" class="goto">Outro</li>
  </ul>
</div>