!.gitignore
/.htaccess
data/
test/
sirgle/
test.php
*.key
*.sh
cheditor5.*/
ckeditor*/
log/
g5_tree/
naver*.html

# Unignore directories but exclude video folders
!campaign/
campaign/**/video/
campaign/**/vod/

!cyber/
cyber/**/video/
cyber/**/vod/
cyber/**/mp4/
cyber/**/mov/

!message/
message/**/video/
message/**/vod/

!process/
process/**/video/
process/**/vod/
process/**/mp4/
process/**/mov/

!survey/
survey/**/video/
survey/**/vod/

!theme/
theme/**/video/
theme/**/vod/
theme/**/mp4/
theme/**/mov/
theme/**/flash/
theme/**/swfupload/

# Global video ignore
*.mp4
*.avi
*.mkv
*.wmv
*.mov
*.flv
*.swf
