@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
/* CSS Document */

/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'Nanum Gothic','Malgun Gothic','Dotum','Verdana';font-size:13px; color:#555; line-height:20px;overflow-x: hidden}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
.pointer{ cursor:pointer; }
.none{ display:none;}

/* Layout */
#contents{width:830px; padding-left:35px; padding-top:20px;}
#contents.w810{width:740px;}

p.title{padding-bottom:5px; font-size:25px; font-weight:800;}
p.sub_text{padding:10px 0 20px 0; font-size:15px; font-weight:bold;}
p.sub_text2{padding:0px 0 20px 0; font-size:15px; font-weight:bold;}
p.sub_text2 span.point{color:#f06b00}
.subtitle_gap{margin-top:25px}
.subtitle_gap2{margin-bottom:15px}


p.btn_explan{padding-top:3px; padding-left:703px}
p.btn{padding-top:10px;}
p.btn span.btn_confirm{ padding-left:330px; padding-bottom:10px; }
p.btn span.btn_confirm2{padding-left:305px;padding-bottom:20px;}
p.btn span.btn_sign{ padding-left:310px; padding-bottom:10px; }
p.btn span.btn_next{padding-left:250px; padding-bottom:5px;}
p.btn span.btn_next2{ padding-bottom:5px; padding-left:10px;float:right;}
.blue{color:#2b559a}

p.explan{padding:15px;border-top:1px solid #c5c8ca; border-bottom:1px solid #c5c8ca; background-color:#f5f5f5; margin-bottom:20px; margin-top:5px;}
div.explan{padding:15px;border-top:1px solid #c5c8ca; border-bottom:1px solid #c5c8ca; background-color:#f5f5f5; margin-bottom:20px; margin-top:5px;}
p.explan_text{padding-bottom:10px; font-size:15px; font-weight:bold;}
p span.bold{font-weight:bold}

p.sign{font-size:16px; font-weight:bold; padding:15px 0 15px 100px}
p.sign span.gap{padding-left:50px;}
input.i_text{padding:3px 4px; margin-left:5px; border:1px solid #707070;}

.top-info{
    background:#f7f1f1;
    padding: 5px 10px;
    font-weight: 900;
    margin: 10px 0 25px;
    font-size: 14px;
    line-height: 1.6;
}

.middle-info{
    padding:5px 10px;
    border:1px solid #ccc;
    margin: 10px 0 3px;
    font-size: 12.3px;
    font-weight: 900;
}

.accent{
    color:#f06b00;
}

.survey-list h3{
    font-weight:800;
    font-size:14px;
}

.survey-answer{
    padding:7px 20px 15px;
}

.survey-answer li{
    display:inline-block;
    margin-right:10px;
    margin-bottom:3px;
}

.survey-answer li input{
    position:relative;
    top:2.5px;
}

.mt5{
    margin-top:5px;
}

.textarea{
    resize:none;
    width: 100%;
    margin: 15px 0;
    padding:10px 20px;
    box-sizing:border-box;
}

.bottom-info{
    text-align: center;
    font-size: 15.5px;
    font-weight: 800;
    margin: 20px 0 30px;
}

.table-top-tit{
    font-size: 17px;
    margin: 10px 0;
    font-weight: 800;
}

.table-top-tit img{
    position:relative;
    top:-1.5px;
}

.text-30{
    width: 98%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}

/* Table */
.t_style1,.t_style1 th,.t_style1 td{border:0}
.t_style1{width:100%; border:2px solid #7d8083; border-collapse:collapse}
.t_style1 caption{display:none}
.t_style1 tr th{padding:12px 0 12px 20px; border:1px solid #cccccc; background-color:#fff; font-weight:normal; width:590px; text-align:left}
.t_style1 tr td{padding:6px 20px 4px;border:1px solid #cccccc;background-color:#fff; text-align:center}
.t_style1 tr td span.gap{padding:20px; font-weight:bold }
.top_gap{margin-top:15px}

.t_style2,.t_style2 th,.t_style2 td{border:0}
.t_style2{width:100%; border:2px solid #9ea1a5; border-collapse:collapse}
.t_style2 caption{display:none}
.t_style2 tr th.head{ font-weight:bold; background-color:#d0d6d6; text-align:center}
.t_style2 tr td.head{ font-weight:bold; background-color:#d0d6d6; text-align:center}
.t_style2 tr th{padding:5px 0; border:1px solid #cccccc; background-color:#fff; font-weight:normal; width:125px; text-align:center}
.t_style2 tr td{padding:6px 20px 4px;border:1px solid #cccccc;background-color:#fff; text-align:left}
.t_style2 tr td span.gap{padding:20px; font-weight:bold }

.t_style3,.t_style3 th,.t_style3 td{border:0}
.t_style3{width:100%; border:2px solid #9ea1a5; border-collapse:collapse}
.t_style3 caption{display:none}
.t_style3 tr th.head{ font-weight:bold;font-size:15px; background-color:#f5f5f5; text-align:center; border:1px solid #cccccc;}
.t_style3 tr th{padding:5px 0; border:1px solid #cccccc; background-color:#fff; font-weight:normal; width:150px; text-align:center}
.t_style3 tr td{padding:6px 20px 4px;border:1px solid #cccccc; background-color:#fff; text-align:left}
.t_style3 tr td.bold{font-weight:bold; text-align:center; padding:10px;}

.t_style4,.t_style3 th,.t_style3 td{border:0}
.t_style4{width:100%; border:2px solid #9ea1a5; border-collapse:collapse}
.t_style4 caption{display:none}
.t_style4 thead tr th{ font-weight:800;font-size:14px; background-color:#f5f5f5; text-align:center; padding:15px 0; border:1px solid #cccccc;}
.t_style4 tbody tr td{padding:4px;border:1px solid #cccccc;background-color:#fff; text-align:center}
.t_style4 tbody tr td.q{padding:8px 6px;border:1px solid #cccccc;background-color:#fff; text-align:left}
.t_style4 tbody tr td.bold{font-weight:bold; text-align:center; padding:10px;}
.t_style4 .con{float:right;width:91%;}
.t_style4 .con.wide{width:95%;}

.t_style5,.t_style3 th,.t_style3 td{border:0}
.t_style5{width:100%; border:2px solid #9ea1a5; border-collapse:collapse}
.t_style5 caption{display:none}
.t_style5 thead tr th{font-weight:bold;font-size:15px; background-color:#f5f5f5; text-align:left; padding:8px 8px 8px 10px; border:1px solid #cccccc;}
.t_style5 tbody tr td{padding:10px 10px 10px 20px;border:1px solid #cccccc;background-color:#fff; text-align:left}
.t_style5 tbody tr td.q{padding:6px;border:1px solid #cccccc;background-color:#fff; text-align:left}
.t_style5 tbody tr td.bold{font-weight:bold; text-align:center; padding:10px;}
.t_style5 tbody tr td p.ssub_title{margin-bottom:5px;}





