
@font-face {
  font-family: 'Cafe24Ohsquare';
  font-style: normal;
  
  src: url(Cafe24/Cafe24Ohsquare.woff) format('woff');
}

@font-face {
  font-family: 'Cafe24Shiningstar';
  font-style: normal;
  
  src: url(Cafe24/Cafe24Shiningstar.woff) format('woff');
}