#content {background-image:url(http://img.hunet.co.kr/study/player/skin/sexual_harass/bg_content.jpg);}
#content .header-subject {background:url(http://img.hunet.co.kr/study/player/skin/sexual_harass/icon_header-subject.png) no-repeat 0 0;}
.learning-map-content .learning-map {background:url(http://img.hunet.co.kr/study/player/skin/sexual_harass/bg_learning-map.jpg) no-repeat;}
.learning-map-content .learning-map li {position:relative; float:left; height:219px; text-indent:-9999em; background:url(http://img.hunet.co.kr/study/player/skin/sexual_harass/learning-map.png) no-repeat;}

.video {border-color:#c3d4e6;}
