@font-face {
  font-family: GyeonggiTitle;
  src: url(../font/Title_Medium.woff) format('woff');
}
/* 
@font-face {
  font-family: GyeonggiTitle;
  src: url(../font/Title_Bold.woff) format('woff');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: GyeonggiTitle;
  src: url(../font/Title_Light.woff) format('woff');
  font-style: normal;
  font-weight: lighter;
} */