body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,blockquote,button{margin:0;padding:0;-webkit-text-size-adjust:none}
body,input,textarea,select,table,button{color:#000;font-family:sans-serif;font-size:100%;font-weight:normal;}
table {border-collapse:collapse; border-spacing:0;}
img,fieldset {border:0;}
img,input,textarea{vertical-align:top;}
select{vertical-align:top;}
address,caption,cite,code,dfn,em,var,i {font-style:normal; font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
abbr,acronym {border:0;}

article, aside, dialog, footer, header, section, footer, nav, figure, hgroup {display:block;}

a{color:#000;text-decoration:none;}
a:link,a:hover,a:active{text-decoration:none;}

caption,
legend,
.accessibility {position:absolute; width:0; height:0; overflow:hidden; font-size:0; line-height:0; visibility:hidden; z-index:-1;}

hr {margin-bottom:30px; font-size:0; line-height:0; border:1px solid #fff;}
hr.line {border-bottom:1px solid #ddd;}

.tCenter {text-align:center;}
.tRight {text-align:right;}

.fArea {*zoom:1;}
.fArea:after {content:""; display:block; clear:both;}
.fLeft {float:left;}
.fRight {float:right;}

.clear {clear:both;}

#h-tools-header {height:41px; line-height:100%; border-bottom:1px solid #242424; background-color:#405d9e;}
#h-tools-header h1 {padding:0 60px; overflow:hidden; text-align:center; line-height:41px; color:#fcf6eb; font-size:16px; white-space:nowrap; text-overflow:ellipsis;}
#h-tools-header h1.logo {padding-top:10px;}
#h-tools-header .btn-group-left {position:absolute; top:12px; left:10px;}
#h-tools-header .btn-group-right {position:absolute; top:12px; right:10px;}
#h-tools-header .btn-back {display:inline-block; width:43px; height:15.5px; overflow:hidden; text-indent:-9999em; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/btn.png) no-repeat 0 -100px; background-size:100px 1000px;}
#h-tools-header .btn-more {display:inline-block; width:50.5px; height:15.5px; overflow:hidden; text-indent:-9999em; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/btn.png) no-repeat 0 -75px; background-size:100px 1000px;}
#h-tools-header .btn-search {display:inline-block; width:37px; height:16.5px; overflow:hidden; text-indent:-9999em; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/btn.png) no-repeat 0 -25px; background-size:100px 1000px;}
#h-tools-header .btn-setting {display:inline-block; width:38.5px; height:18px; overflow:hidden; text-indent:-9999em; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/btn.png) no-repeat 0 -50px; background-size:100px 1000px;}
#h-tools-header .btn-add {display:inline-block; width:46px; height:21.5px; overflow:hidden; text-indent:-9999em; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/btn.png) no-repeat 0 -125px; background-size:100px 1000px;}

#h-tools-content {background:#fcf6eb;}

#h-tools-footer {padding:10px 0; text-align:center; font-size:12px; color:#fff; background:#9b9b9b;}

.h-tools-header {background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/bg_header.png) repeat-x left bottom; background-size:31px 180px;}
.h-tools-header .content {padding-bottom:20px; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/bg_header-center.png) no-repeat center bottom; background-size:320px 43px;}
.h-tools-header .content-not-ar {padding-bottom:20px; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/bg_header-center-not-ar.jpg) no-repeat center bottom; background-size:320px 78px;}
.h-tools-header .header-search-field {display:none; position:relative; padding:10px 54px 0 10px;}
.h-tools-header .header-search-field .i-text {width:100%; height:33px; padding-left:5px; font-size:14px; border:1px solid #4f4f4f; border-radius:3px; box-shadow:2px 2px 3px rgba(0,0,0,0.2);}
.h-tools-header .header-search-field .btn-submit {position:absolute; top:10px; right:10px; width:39px;}
.h-tools-header .category-tab {padding:10px; font-size:14px;}
.h-tools-header .category-tab ul {height:25px; border:2px solid #63594b; border-radius:25px;}
.h-tools-header .category-tab li {float:left; width:33.333%;}
.h-tools-header .category-tab li a {display:block; height:25px; line-height:25px; text-align:center; color:#696969; background-color:#fff;}
.h-tools-header .category-tab li:first-child a {border-top-left-radius:25px; border-bottom-left-radius:25px;}
.h-tools-header .category-tab li:last-child a {border-top-right-radius:25px; border-bottom-right-radius:25px;}
.h-tools-header .category-tab li.current a {color:#fff; background-color:#c58171;}
.h-tools-header .select-day {position:relative; width:100%; height:53px; overflow:hidden; margin-top:10px;}
.h-tools-header .select-day .today {text-align:center;}
.h-tools-header .select-day .today img {width:110px;}
.h-tools-header .select-day .prev,
.h-tools-header .select-day .next {position:absolute; top:0; height:40px; padding-top:5px;}
.h-tools-header .select-day .prev img,
.h-tools-header .select-day .next img {width:75px;}
.h-tools-header .select-day .prev {left:50%; margin-left:-190px; padding-right:40px; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/icon_y.png) no-repeat right -50px; background-size:50px 1000px;}
.h-tools-header .select-day .next {right:50%; margin-right:-190px; padding-left:40px; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/icon_y.png) no-repeat 0 -125px; background-size:50px 1000px;}
.h-tools-header .date {padding:20px 0 10px 0; text-align:center; font-size:18px; color:#4d3b14; line-height:18px;}
.h-tools-header .date .icon-calendar {display:inline-block; width:21.5px; height:17px; margin-top:-4px; overflow:hidden; vertical-align:middle; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/icon_y.png) no-repeat 0 -200px; background-size:50px 1000px;}
.h-tools-header h2 {padding:20px 0 10px 0; text-align:center;}

.h-tools-header .list-sort {padding:0 10px;}
.h-tools-header .list-sort:after {content:""; display:block; clear:both;}
.h-tools-header .list-sort .select {float:left; font-size:12px;}
.h-tools-header .list-sort .select select {border:1px solid #4f4f4f;}
.h-tools-header .list-sort .link {float:right;}
.h-tools-header .list-sort .link a {font-size:12px; color:#847764;}
.h-tools-header .list-sort .link a.current {font-weight:bold; font-size:14px; color:#63594b;}

.h-tools-header .list-sort-select {padding:10px;}
.h-tools-header .list-sort-select select {width:100%; padding:2px; line-height:22px; font-size:12px;}

.keyword-index {padding:10px 8px 0 8px;}
.keyword-index:after {content:""; display:block; clear:both;}
.keyword-index li {float:left; padding:2px;}
.keyword-index a {display:block; height:28px; line-height:28px; padding:0 6px; font-size:16px; color:#63594b; font-weight:bold; border:2px solid #4f4f4f; background:#fff; border-radius:4px; box-shadow:2px 2px 3px rgba(0,0,0,0.3);}
.keyword-index .current {color:#fff; background:#c58171;}
.keyword-index .disabled {color:#c5c2bd; border-color:#9b9081;}

.keyword-search-field {position:relative; padding:10px 42px 0 10px;}
.keyword-search-field .i-text {width:100%; height:25px; padding-left:5px; font-size:14px; border:1px solid #4f4f4f; border-radius:3px;}
.keyword-search-field .btn-submit {position:absolute; top:10px; right:10px; width:29.5px;}

.keyword-list {padding:8px 0 0 0;}
.keyword-list li {border-bottom:1px solid #d0ccc1;}
.keyword-list a {display:block; padding:8px 15px 8px 15px; font-size:14px; line-height:18px; color:#1d1d1d;}


.reminder-step-nav {position:relative; padding:10px 50px 0 50px;}
.reminder-step-nav .prev,
.reminder-step-nav .next {position:absolute; top:11px; width:27.5px; height:53px; overflow:hidden; text-indent:-9999em; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/btn.png) no-repeat 0 -175px; background-size:100px 1000px;}
.reminder-step-nav .prev {left:15px;}
.reminder-step-nav .next {right:15px; background-position:right -175px;}
.reminder-step-nav .swiper-wrapper {height:53px; overflow:hidden;}
.reminder-step-nav .swiper-slide {float:left; height:53px; line-height:53px; padding:0 6px; overflow:hidden; white-space:nowrap; font-size:20px; font-weight:bold; color:#646ab1; opacity:.7;}
.reminder-step-nav .swiper-slide a {color:#646ab1;}
.reminder-step-nav .swiper-slide.current {width:85px; font-size:26px; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/icon_stamp.png) no-repeat; background-size:97px 53px; opacity:1;}
.reminder-step-nav .swiper-slide.current a {color:#646ab1;}
.reminder-step-nav .swiper-slide:nth-child(even) a {color:#bd7a93;}
/*
.reminder-step-nav ul {width:100%; overflow:hidden; white-space:nowrap; font-size:20px; font-weight:bold;}
.reminder-step-nav li {display:inline-block; height:53px; line-height:53px; padding:0 5px; overflow:hidden; white-space:nowrap; opacity:.7;}
.reminder-step-nav li:nth-child(even) a {color:#bd7a93;}
.reminder-step-nav li a {color:#646ab1;}
.reminder-step-nav li.current {width:87px; font-size:26px; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/icon_stamp.png) no-repeat; background-size:97px 53px; opacity:1;}
.reminder-step-nav li.current a {color:#646ab1;}
*/

.story-list {font-size:12px;}
.story-list li {line-height:16px; border-bottom:1px solid #d0ccc2;}
.story-list li:after {content:""; display:block; clear:both;}
.story-list li a {display:block; padding:15px 13px;}
.story-list .thumb {float:left; width:115px; margin-right:-115px;}
.story-list .thumb img {width:102px; height:74px; border:1px solid #d1cbbf;}
.story-list .content {display:block; margin-left:115px;}
.story-list .category {display:block; height:20px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-weight:bold; font-size:14px; color:#000;}
.story-list .subject {display:block; height:40px; overflow:hidden; color:#1d1d1d;}
.story-list .date {display:block; padding:0 0 0 16px; font-weight:bold; color:#666; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/icon_y.png) no-repeat 0 1px; background-size:50px 1000px;}

.story-view {padding:17px 17px;}
.story-view h2 {margin-bottom:17px; font-size:20px; color:#c58171; text-align:center; line-height:26px;}
.story-view .content {color:#1d1d1d;}
.story-view .img {margin-bottom:17px; text-align:center;}
.story-view .img img {max-width:100%;}
.story-view .movie {position:relative; margin-bottom:17px; text-align:center;}
.story-view .icon-play {position:absolute; left:50%; top:50%; width:58px; height:58px; margin:-30px 0 0 -30px; border-radius:58px; border:2px solid #ffffff; background: rgba(0,0,0,.7);}
.story-view .icon-play i {display:block; margin:19px 0 0 21px; border-style: solid; border-width:10px 10px 10px 20px; width:0; height:0; border-color:transparent transparent transparent #ffffff;}
.story-view footer {padding:15px 0 0 0; text-align:center;}
.story-view .icon-tv {display:inline-block; width:16px; height:16px; overflow:hidden; margin-top:-4px; vertical-align:middle; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/icon_y.png) no-repeat 0 -300px; background-size:50px 1000px;}

.story-setting {padding:17px 17px;}
.story-setting h3 {margin-bottom:10px; color:#1d1d1d; line-height:22px;}
.story-setting header .btn-group {margin-bottom:10px;}
.story-setting .icon-save {display:inline-block; width:16px; height:16px; overflow:hidden; margin-top:-4px; vertical-align:middle; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/icon_y.png) no-repeat 0 -350px; background-size:50px 1000px;}
.story-setting table {width:100%;}
.story-setting td {padding:5px 0; text-align:left; line-height:20px;}
.story-setting .check {width:30px;}
.story-setting .day {width:80px;}
.story-setting .day img {width:60px;}
.story-setting .select select {width:100%;}
.story-setting footer {padding:20px 0 0 0;}
.story-setting footer:after {content:""; display:block; clear:both;}
.story-setting footer .alarm {float:left; padding:5px 0 0 15px; color:#777; font-weight:bold; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/icon_y.png) no-repeat 0 8px; background-size:50px 1000px;}
.story-setting footer .btn-group {float:right;}

.reminder-list {font-size:12px; line-height:16px;}
.reminder-list li {position:relative; overflow:hidden; padding:10px; border-bottom:1px solid #d0ccc2;}
.reminder-list li a {display:block; padding:10px; border:5px solid #6283bc; background:#fff; box-shadow:3px 3px 5px rgba(0,0,0,0.3);}
.reminder-list li:nth-child(even) a {border-color:#62b5bd;}
.reminder-list h2 {margin-bottom:7px; font-size:14px; color:#000;}
.reminder-list .text {margin-bottom:7px; color:#1d1d1d;}
.reminder-list .icon-step {float:right; width:54px; height:53px; overflow:hidden; margin:-10px -50px 0 0; padding:0 43px 0 0; text-align:center; color:#646ab1; font-weight:bold; font-size:14px; line-height:53px; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/icon_stamp.png) no-repeat; background-size:97px 53px; z-index:2;}
.reminder-list .date {padding:0 0 0 16px; font-weight:bold; color:#666; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/icon_y.png) no-repeat 0 1px; background-size:50px 1000px;}
.reminder-list .btn {position:absolute; bottom:23px; right:22px;}
.reminder-list .highlight {color:#646ab1;}

.reminder-view {padding:17px 17px; font-size:14px; line-height:24px; color:#1d1d1d;}
.reminder-view h2 {margin-bottom:5px; font-size:20px; color:#c58171;}
.reminder-view h3 {font-size:16px;}
.reminder-view .image {margin:17px; text-align:center;}
.reminder-view .image img {max-width:100%;}
.reminder-view img {max-width:100%;}
.reminder-view footer {padding:15px 0 0 0; text-align:center;}
.reminder-view .icon-arrow-right {display:inline-block; width:17px; height:13px; overflow:hidden; margin-top:-4px; vertical-align:middle; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/icon_y.png) no-repeat 0 -400px; background-size:50px 1000px;}
.reminder-view .quiz-question {padding:5px 0 10px 30px; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/icon_q.png) no-repeat 0 5px; background-size:24px 24px;}
.reminder-view .quiz-answer-ox {text-align:center;}
.reminder-view .quiz-answer-ox * {vertical-align:top;}
.reminder-view .quiz-answer-ox a {position:relative; display:inline-block; margin:0 20px; font-size:100px; line-height:100px; color:#acaaa3; font-weight:bold; letter-spacing:-1px; cursor:pointer; text-shadow:2px 2px 3px rgba(0,0,0,0.2);}
.reminder-view .quiz-answer-ox a span {display:block; *display:inline-block; width:70px; height:30px; margin:0 auto; *margin-top:5px; text-align:center; line-height:32px; font-size:16px; letter-spacing:-1px; color:#3a3a3a; background:#9ca8b3; border-radius:30px;}
.reminder-view .quiz-answer-ox a:focus,
.reminder-view .quiz-answer-ox a:hover {color:#2f2f2f;}
.reminder-view .quiz-answer-multiple {padding:5px 0 0 30px;}
.reminder-view .quiz-answer-multiple li {position:relative; padding:4px 0;}
.reminder-view .quiz-answer-multiple a {display:block; padding:6px 15px; font-size:17px; background:#cbcfcf; border-radius:20px;}
.reminder-view .quiz-answer-multiple a.selected,
.reminder-view .quiz-answer-multiple a:hover {color:#fff; background:#585755;}

.reminder-view .quiz-answer {padding:10px 0; line-height:80px; text-align:center; font-weight:bold; color:#000; font-size:32px;}
.reminder-view .quiz-answer * {vertical-align:middle;}
.reminder-view .quiz-answer span {color:#ff8364; font-size:80px; text-shadow:3px 3px 0 rgba(0,0,0,0.2);}
.reminder-view .quiz-explain-tit {display:inline-block; height:26px; line-height:26px; padding:0 15px; font-size:16px; color:#3a3a3a; background:#9ca8b3; border-radius:26px;}
.reminder-view .quiz-explain {padding-top:5px;}
.reminder-view .btn-quiz-restart {display:inline-block; width:99px; height:26px; overflow:hidden; text-indent:-9999em; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/btn.png) no-repeat 0 -250px; background-size:100px 1000px;}
.reminder-view .btn-quiz-next {display:inline-block; width:99px; height:26px; overflow:hidden; text-indent:-9999em; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/btn.png) no-repeat 0 -300px; background-size:100px 1000px;}

.footer-btn-group {padding:10px; text-align:right;}
.footer-btn-group:after {content:""; display:block; clear:both;}
.footer-btn-group .btn-top {display:inline-block; width:45px; height:14px; overflow:hidden; text-indent:9999em; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/btn.png) no-repeat 0 0; background-size:100px 1000px;}




.layer-overlay {display:none; position:fixed; left:0; bottom:0; width:100%; height:100%; background:#000; opacity:0.3; z-index:11;}
.layer-share-overlay {display:none; position:fixed; left:0; bottom:0; width:100%; height:240px; background:#000; opacity:0.8; z-index:12;}
.layer-share {display:none; position:fixed; left:0; bottom:0; width:100%; padding:15px 0; z-index:13;}
.layer-share li {margin:5px 20px;}
.layer-share a {display:block; height:44px; line-height:44px; text-align:center; font-size:18px; font-weight:bold; background-color:#fff; border-radius:3px;}
.layer-share .icon-add {display:inline-block; width:22.5px; height:21.5px; overflow:hidden; vertical-align:middle; margin-top:-6px; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/icon_y.png) no-repeat 0 -250px; background-size:50px 1000px;}
.layer-share .info {background-color:#c58171; color:#fff;}
.layer-share .facebook {background-color:#4e6eaa; color:#fff;}
.layer-share .twitter {background-color:#37abce; color:#fff;}
.layer-share .cancel {background-color:#fff; color:#000;}

.layer-keyword-view {display:none; position:absolute; left:0; top:0; margin:10px; padding:15px 10px; border:5px solid #d4c8b9; background:#fff; z-index:13;}
.layer-keyword-view .close {position:absolute; top:10px; right:10px; width:48px; height:19px; overflow:hidden; text-indent:-9999em; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/btn.png) no-repeat 0 -350px; background-size:100px 1000px;}
.layer-keyword-view h1 {margin-bottom:10px; font-size:22px; color:#c58171; line-height:30px;}
.layer-keyword-view .content {color:#1d1d1d; font-size:14px; line-height:20px;}



.well {min-height:20px; padding:19px;}
.well-lg {padding:24px;}
.well-sm {padding:9px;}


.btn {display:inline-block; padding:6px 12px; line-height:1.428571429; overflow:hidden; font-weight:normal; text-align:center; font-size:12px; color:#464646; border:0; border-top:2px solid #a4a4a4; background:#fff; border-radius:3px; cursor:pointer; -webkit-appearance:none;}

.btn-sm,.btn-xs {padding:4px 10px; line-height:1.5;}
.btn-xs {padding:1px 5px;}
.btn-lg {padding:10px 16px; line-height:1.33; font-weight:bold; font-size:16px; border-top-width:3px;}
.btn-primary {color:#fff; border-color:#cb8e7f; background:#c58171;}
.btn-inverse {color:#fff; border-color:#4f4f4f; background:#4f4f4f;}

.btn-block {display:block; width:100%; padding-right:0; padding-left:0;}



/* ===============================================================
Basic Swiper Styles 
================================================================*/
.swiper-container {
margin:0 auto;
position:relative;
overflow:hidden;
-webkit-backface-visibility:hidden;
-moz-backface-visibility:hidden;
-ms-backface-visibility:hidden;
-o-backface-visibility:hidden;
backface-visibility:hidden;
/* Fix of Webkit flickering */
z-index:1;
}
.swiper-wrapper {
position:relative;
width:100%;
-webkit-transition-property:-webkit-transform, left, top;
-webkit-transition-duration:0s;
-webkit-transform:translate3d(0px,0,0);
-webkit-transition-timing-function:ease;

-moz-transition-property:-moz-transform, left, top;
-moz-transition-duration:0s;
-moz-transform:translate3d(0px,0,0);
-moz-transition-timing-function:ease;

-o-transition-property:-o-transform, left, top;
-o-transition-duration:0s;
-o-transform:translate3d(0px,0,0);
-o-transition-timing-function:ease;
-o-transform:translate(0px,0px);

-ms-transition-property:-ms-transform, left, top;
-ms-transition-duration:0s;
-ms-transform:translate3d(0px,0,0);
-ms-transition-timing-function:ease;

transition-property:transform, left, top;
transition-duration:0s;
transform:translate3d(0px,0,0);
transition-timing-function:ease;

-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
-webkit-transition-timing-function: ease-out;
-moz-transition-timing-function: ease-out;
-ms-transition-timing-function: ease-out;
-o-transition-timing-function: ease-out;
transition-timing-function: ease-out;
margin: 0 auto;
}
.swiper-slide {float:left;}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {-ms-touch-action:pan-y;}
.swiper-wp8-vertical {-ms-touch-action:pan-x;}