
@font-face {
  font-family: 'SCDream1';
  font-style: normal;
  src: url(SCDream/SCDream1.woff) format('woff')
}

@font-face {
  font-family: 'SCDream3';
  font-style: normal;
  src: url(SCDream/SCDream3.woff) format('woff')
}

@font-face {
  font-family: 'SCDream4';
  font-style: normal;
  src: url(SCDream/SCDream4.woff) format('woff')
}

@font-face {
  font-family: 'SCDream5';
  font-style: normal;
  src: url(SCDream/SCDream5.woff) format('woff')
}

@font-face {
  font-family: 'SCDream6';
  font-style: normal;
  src: url(SCDream/SCDream6.woff) format('woff')
}

@font-face {
  font-family: 'SCDream7';
  font-style: normal;
  src: url(SCDream/SCDream7.woff) format('woff')
}

@font-face {
  font-family: 'SCDream8';
  font-style: normal;
  src: url(SCDream/SCDream8.woff) format('woff')
}